.task-container(ng-if="loggedIn && tasks")
	.row
		.col-md-12
			h2 Task Manager
			button.btn.btn-primary.add-new(ng-click="addNew.isCollapsed = !addNew.isCollapsed") add
	.row(collapse="addNew.isCollapsed")
		.col-md-4
		.col-md-4
			form(name="addNewTask" method="post").add-new
				label(for="assignTo") For: 
				select.form-control(name="assignTo" add-user)
					option &mdash; assign somebody &mdash;
					option(ng-repeat="user in users") {{user.admin_username}} ({{user.admin_firstname}} {{user.admin_lastname}})
				p(ng-show="addNew.task.assignedTo")
					span(ng-repeat="user in addNew.task.assignedTo['users']")
						a(href="" remove-user tooltip="click to remove {{user}}" tooltip-placement="bottom") {{user}}
						//button.btn.btn-default.remove(type="button" value="{{user}}" remove-user) x
						| &nbsp;&nbsp;
				p
					span(ng-repeat="error in addNew.messages['errors'] track by $index") {{error}}
				label(for="content") Task:
				textarea.form-control(name="content" ng-model="addNew.task.content" placeholder="e.g., Make it squishy")
				label(for="dateDue") By When:
				select.form-control(name="dateDue" toggle-date)
					option(value="-1") &mdash; pick a date &mdash;
					option(value="0") Sometime in the future
					option(value="1") A day from now
					option(value="2") Two days from now
					option(value="3") Three days from now
					option(value="7") A week from now
				//label(for="date") Date Due:
				//datepicker.well.date(name="date" ng-model="addNew.task.dateDue" min-date="minDate" show-weeks="true")
				.btn-group
					button.btn.btn-primary(ng-click="setTask()") OK

		.col-md-4

	.row
		.col-md-1
		.col-md-10
			table.table.table-condensed.table-hover
				thead
					tr
						th Task
						th For
						th By
						th When
						th Status
						th
				tbody(ng-repeat="task in tasks")
					tr
						td {{task.content}}
						td
							span(ng-repeat="user in task.assignedTo['users']") {{user}}
								br
						td {{task.assignedBy}} on {{task.dateAssigned}}
						td {{task.dateDue}}
						td {{task.status || "none"}}
						td
							select.form-control(name="markTask" mark-task)
								option(value="-1") &mdash; mark task as &mdash;
								option(value="0") doing
								option(value="1") done
		.col-md-1