.task-container(ng-if="loggedIn && tasks")
	.row
		.col-md-12
			h2 Task Manager
			button.btn.btn-primary.add-new(ng-click="addNew.isCollapsed = !addNew.isCollapsed") add
	.row(collapse="!addNew.isCollapsed")
		.col-md-4
		.col-md-4
			form(name="addNew" method="post").add-new
				label(for="assignTo") For: 
				select.form-control(name="assignTo" ng-model="assignedTo")
					option(ng-repeat="user in users") {{user.admin_username}} ({{user.admin_firstname}} {{user.admin_lastname}})
				label(for="content") Task:
				textarea.form-control(name="content" ng-model="taskContent" placeholder="e.g., Make it squishy")
				label(for="date") Date Due:
				datepicker.well.date(name="date" ng-model="dateDue" min-date="minDate" show-weeks="true")
				.btn-group
					button.btn.btn-primary(ng-submit="setTask()") OK

		.col-md-4

	.row
		.col-md-1
		.col-md-10
			table.table.table-condensed.table-hover
				thead
					tr
						th Task
						th For
						th By
						th When
						th
				tbody(ng-repeat="task in tasks")
					tr
						td {{task.content}}
						td
							span(ng-repeat="user in task.assignedTo") {{user}}
								br
						td {{task.assignedBy}} on {{task.dateAssigned}}
						td {{task.dateDue}}
						td
		.col-md-1